body {
  background-color: #0773ff;
  color: #fff;
  font-family: 'poppins', sans-serif;
}

.card {
  border: none;
}

.card img {
  max-height: 300px;
  object-fit: cover;
}

#gameCanvas {
  display: block;
  margin: 0 auto;
  background-color: black;
  border: 2px solid #fff;
}

#hud {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 400px;
  margin: 0 auto;
}

#score {
  font-size: 18px;
}

#lives img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

#message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: #93DA97;
  padding: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.grid-template {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: auto;
  }

  .cell {
    width: 100%;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    font-weight: bold;
    background-color: #e6f0ff;
    border: 2px solid #000000;
    border-radius: 8px;
    transition: 0.2s;
  }

#tictoc {
  margin-top: 1rem;
}

#ttt-message {
  text-align: center;
  margin-top: 1rem;
}

  .cell:hover {
  box-shadow: 0 0 10px #00ffff;
  transform: scale(1.05);
  }

#tic-tac-toe h2 {
  font-weight: bold;
}

#ttt-reset {
  background: linear-gradient(to right, #00c6ff, #05438f);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.3s;
  margin-left: 44rem;
  margin-top: 1rem;
}

#ttt-reset:hover {
  background: linear-gradient(to right, #0072ff, #00c6ff);
  transform: scale(1.05);
}